<section class="ngx-json-viewer">
  <section *ngFor="let segment of segments" [ngClass]="['segment', 'segment-type-' + segment.type]">
    <section
      (click)="toggle(segment)"
      [ngClass]="{
        'segment-main': true,
        expandable: isExpandable(segment),
        expanded: segment.expanded
      }"
    >
      <div *ngIf="isExpandable(segment)" class="toggler"></div>
      <span class="segment-key">{{ segment.key }}</span>
      <span class="segment-separator">: </span>
      <span *ngIf="!segment.expanded || !isExpandable(segment)" class="segment-value">{{
        segment.description
      }}</span>
      <span
        *ngIf="showTypeHeadings && segment.expanded && segment.type == 'array'"
        class="segment-value"
        >Array[{{ segment.value.length }}]</span
      >
      <span
        *ngIf="showTypeHeadings && segment.expanded && segment.type == 'object'"
        class="segment-value"
        >Object</span
      >
    </section>
    <section *ngIf="segment.expanded && isExpandable(segment)" class="children">
      <ngx-json-viewer
        [json]="segment.value"
        [expanded]="expanded"
        [depth]="depth"
        [_key]="segment.key"
        [_currentDepth]="_currentDepth"
        [_length]="segment.type === 'array' ? segment.value.length : -1"
        [_previouslyOpenKeys]="_previouslyOpenKeys && _previouslyOpenKeys[segment.key]"
      ></ngx-json-viewer>
    </section>
  </section>
</section>
