$type-colors: (
  string: green,
  number: #0000ff,
  boolean: red,
  date: #05668D,

  array: #999,
  object: #999,
  function: #999,

  'null': #855a00,
  undefined: #855a00
);

.ngx-json-viewer {
  font-family: monospace;
  font-size: 1em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .segment {
    padding: 0px;
    margin: 0px 0px 1px 12px;

    .segment-main {
      word-wrap: break-word;

      .toggler {
        position: absolute;
        margin-left: -14px;
        margin-top: 3px;
        font-size: .8em;
        line-height: 1.2em;
        vertical-align: middle;
        color: #787878;

        &::after {
          display: inline-block;
          content: "►";
          transition: transform 0.1s ease-in;
        }
      }

      .segment-key {
        color: #00008b;
        word-wrap: break-word;
      white-space: pre-line;
      }

      .segment-separator {
        color: #00008b;
      }

      .segment-value {
        color: #000;
      }
    }

    .children {
      margin-left: 4px;
    }
  }

  @each $type, $color in $type-colors {
    .segment-type-#{$type} > .segment-main > .segment-value {
      color: $color;
    }
  }

  // special cases need highlightted
  .segment-type-undefined > .segment-main {
    & > .segment-key {
      color: #999;
    }
    & > .segment-value {
      background-color: #999;
    }
  }
  .segment-type-object > .segment-main,
  .segment-type-array > .segment-main {
    white-space: nowrap;
  }

  .expanded > .toggler::after {
    transform: rotate(90deg);
  }

  .expandable > .segment-value {
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .expandable,
  .expandable > .toggler {
    cursor: pointer;
  }
}
